#outer{
    height:74vh;
    width: 100vh;
    background-color: #fff;
    margin-left: 25%;
    box-shadow: 5px 5px 5px 5px gray;
}
.par{
    padding-left: 40px;
   
}
#p1{
    padding-top: 40px;
    font-size:40px;
    color:#2bb3b1;
}
#p2{
    font-size: 25px;
    color: #bfdf32;
}
#p3{
    font-size: 18px;
    color: #92979a;
}
#div1{
    display: inline-block;
    height:35vh;
    width: 50vh;
    margin-top: 50px;
    background-color: #2bb3b1;
    border-radius: 10px;
    border-radius: 0 0 0 10px;
}
.divpa{
    padding-left: 40px;
    color: #fff;
}
#mon{
    font-size: 29px;
}
#fulac{
    font-size: 20px;
}
#btn{
    margin-left: 40px;
    width:38vh;
    height: 50px;
    background-color: #bfdf32;
    border: none;
    border-radius: 15px;
}
#al{
   margin-left:-40px;
   font-size: 20px;
}
#div2{
    background-color:#4abebd;
    height:35vh;
    width: 50vh;
    margin-left: 50%;
    margin-top: -37.7vh;
    border-radius: 0 10px 0 0;
}
.par2{
    margin-left: 40px;
    padding-right: 40px;
    color: #fff;
}
#hea2{
    padding-top:30px;
}
#p5{
    font-size:18px;
    line-height: 30px;
}